#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layers
#define L1 0
#define L2 1
#define Fn 2
#define Ln 3

// Meh key
#define MEH LS(LC(LALT))

// Behaviors Constants
#define TAPPING_TERM_MS 280
#define QUICK_TAP_MS 175
#define GLOBAL_QUICK_TAP_MS 150

// Combos Constants
#define COMBO_TERM_DEFAULT 30
#define COMBO_QUICK_TAP_MS 100

&caps_word {
    continue-list = <UNDERSCORE MINUS BSPC DEL N1 N2 N3 N4 N5 N6 N7 N8 N9 N0>;
};

#include "behaviors.dtsi"
#include "macros.dtsi"
#include "combos.dtsi"

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "BEAKL"; // BEAKL 27-A
// ╭──────┬─────┬─────┬─────┬─────┬──────╮   ╭─────────────────────────────────────╮
// |  TAB |  Q  |  Y  |  O  |  U  |  X   |   |  G   |  C  |  M  |  N  |  Z  | BKSP |
// ├──────┼─────┼─────┼─────┼─────┼──────┤   ├──────┼─────┼─────┼─────┼─────┼──────┤
// | `    |  H  |  I  |  E  |  A  | .`   |   |  D   |  S  |  T  |  R  |  P  | ENT  |
// ├──────┼─────┼─────┼─────┼─────┼──────┤   ├──────┼─────┼─────┼─────┼─────┼──────┤
// | CTRL |  J  | "!  | ,?  |  K  | '~   |   |  W   |  F  |  L  |  B  |  V  | ESC  |
// ╰──────┴─────┴─────┼─────┼─────┼──────┤   ├──────┼─────┼─────┼─────┴─────┴──────╯
//                    | GUI | LWR | SPC  |   | SHFT | RSE | ALT |
//                    ╰─────┴─────┴──────╯   ╰──────┴─────┴─────╯
                        bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
    &kp TAB      &kp Q        &kp Y        &kp O        &kp U        &kp X            &kp G        &kp C        &kp M        &kp N        &kp Z        &kp BSPC
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
    &kp GRAVE    &kp H        &kp I        &kp E        &kp A        &dt_grv          &kp D        &kp S        &kp T        &kp R        &kp P        &kp RET
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
    &kp LCTRL    &kp J        &dqt_ex      &cm_qmk      &kp K        &sqt_tl          &kp W        &kp F        &kp L        &kp B        &kp V        &kp ESC
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
                                           &kp LGUI     &mo 2        &kp SPACE        &kp LSHFT    &mo 1        &kp RALT
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯

                        >;
                };
                lower_layer {
                        label = "NUMBER";
// ╭──────┬─────┬─────┬─────┬─────┬─────╮   ╭───────────────────────────────────────╮
// |  TAB |  1  |  2  |  3  |  4  |  5  |   | A(UP) | HME |  UP | END |  0  | BKSP |
// ├──────┼─────┼─────┼─────┼─────┼─────┤   ├───────┼─────┼─────┼─────┼─────┼──────┤
// |      |  6  |  7  |  8  |  9  |  0  |   | A(DN) | LFT |  DN | RGT |     | ENT  |
// ├──────┼─────┼─────┼─────┼─────┼─────┤   ├───────┼─────┼─────┼─────┼─────┼──────┤
// | CTRL |     |     |     |     |     |   |       |PGUP |     |PGDN |     |      |
// ╰──────┴─────┴─────┼─────┼─────┼─────┤   ├───────┼─────┼─────┼─────┴─────┴──────╯
//                    | GUI |     | SPC |   |  SHFT |     | ALT |
//                    ╰─────┴─────┴─────╯   ╰───────┴─────┴─────╯
                        bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
   &kp TAB      &kp N1       &kp N2       &kp N3       &kp N4       &kp N5           &kp LA(UP)   &kp HOME     &kp UP       &kp END      &kp N0       &kp BSPC
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
   &trans       &kp N6       &kp N7       &kp N8       &kp N9       &kp N0           &kp LA(DOWN) &kp LEFT     &kp DOWN     &kp RIGHT    &trans       &kp RET
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
   &kp LCTRL    &trans       &trans       &trans       &trans       &trans           &trans       &kp PG_UP    &trans       &kp PG_DN    &trans       &trans
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
                          	               &kp LGUI     &trans       &kp SPACE        &kp LSHFT    &trans       &kp RALT
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯

                        >;
                };

                raise_layer {
                        label = "SYMBOL";
// ╭──────┬─────┬─────┬─────┬─────┬─────╮   ╭─────────────────────────────────────╮
// |  TAB |     |     |     |     |     |   |      |     |     |     |     | BKSP |
// ├──────┼─────┼─────┼─────┼─────┼─────┤   ├──────┼─────┼─────┼─────┼─────┼──────┤
// |   `  | SEL | CUT | CPY | PST |     |   |      |     |     |     |     |      |
// ├──────┼─────┼─────┼─────┼─────┼─────┤   ├──────┼─────┼─────┼─────┼─────┼──────┤
// | CTRL |     |     |     |     |     |   |      |     |     |     |     |      |
// ╰──────┴─────┴─────┼─────┼─────┼─────┤   ├──────┼─────┼─────┼─────┴─────┴──────╯
//                    | GUI |     | SPC |   | SHFT |     | ALT |
//                    ╰─────┴─────┴─────╯   ╰──────┴─────┴─────╯
                        bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
   &kp  TAB     &trans       &trans       &trans       &trans       &trans           &trans       &trans       &trans       &trans       &trans       &trans
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
   &kp GRAVE    &kp LG(A)     &KP LG(X)   &KP LG(C)     &KP LG(V)   &trans           &trans       &trans       &trans       &trans       &trans       &trans
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
   &kp LCTRL    &trans       &trans       &trans       &trans       &trans           &trans       &trans       &trans       &trans       &trans       &trans
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
                    	                     &kp LGUI    &trans       &kp SPACE         &kp LSHFT    &trans       &kp RALT
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯

                        >;
                };
                qwerty_layer {
                        label = "QWERTY";
// ╭──────┬─────┬─────┬─────┬─────┬─────╮   ╭─────────────────────────────────────╮
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y   |  U  |  I  |  O  |  P  | BKSP |
// ├──────┼─────┼─────┼─────┼─────┼─────┤   ├──────┼─────┼─────┼─────┼─────┼──────┤
// |  `   |  A  |  S  |  D  |  F  |  G  |   |  H   |  J  |  K  |  L  |  :  |  '   |
// ├──────┼─────┼─────┼─────┼─────┼─────┤   ├──────┼─────┼─────┼─────┼─────┼──────┤
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N   |  M  |  ,  |  .  |  /  | ENT  |
// ╰──────┴─────┴─────┼─────┼─────┼─────┤   ├──────┼─────┼─────┼─────┴─────┴──────╯
//                    | GUI |     | SPC |   | SHFT |     | ALT |
//                    ╰─────┴─────┴─────╯   ╰──────┴─────┴─────╯
                        bindings = <
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
   &kp TAB      &kp Q        &kp W        &kp E        &kp R        &kp T            &kp Y        &kp U        &kp I        &kp O        &kp P        &trans
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
   &kp GRAVE    &kp A        &kp S        &kp D        &kp F        &kp G            &kp H        &kp J        &kp K        &kp L        &kp SEMI     &kp SQT
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
   &kp LCTRL    &kp Z        &kp X        &kp C        &kp V        &kp B            &kp N        &kp M        &kp COMMA    &kp DOT       &kp FSLH    &kp RET
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
                    	                     &kp LGUI    &trans       &kp SPACE         &kp LSHFT    &trans       &kp RALT
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯

                        >;
                };
        };
};
